html, body {
  margin: 0;
  padding: 0;
  background-color: #FDF7F0;
  font-family: 'Poppins';
}
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #F7DDBF; /* Background color for the loading screen */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  transition: all 1s;
}

#main-content {
  opacity: 0; /* Start invisible */
  transition: opacity 0.5s ease-in; /* Smooth fade-in effect */
}
.cookieRoule {
  width: 100vh; /* Taille du cercle */
  height: 100vh;
  background-position: 50%;
  background-image: url('cookie\ 2.svg'); /* Marron, couleur de cookie */
  border-radius: 50%; /* Cercle parfait */
  position: absolute; /* Absolu pour animation */
  top: 50%; /* Centre vertical */
  transform: translateY(-50%);
  background-repeat: no-repeat;
  z-index: 99999;
  
  /* Animation */
  animation: roll-cookie 2.4s linear infinite;
}

/* Animation pour rouler et traverser l'écran */
@keyframes roll-cookie {
  0% {
    transform: translate(-100vw, -50%) rotate(0deg);
  }
  100% {
    transform: translate(100vw, -50%) rotate(360deg);
  }
}
.hide{
  display: none !important;
}

.show{
  display: block !important;
}


#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}
#overlay>a{
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  color: #FDF7F0;
  background-color: #695853;
  padding: 1rem 2rem;
  border-radius: 15px;
  text-decoration:none ;
  font-size: 30px;
  font-weight: 500;
}
#overlay button>i{
  background: none;
  border: none;
  font-size: 45px;
  transition: color 0.4s ease, transform 0.3s ease;
  cursor: pointer;
  color: #FDF7F0;
}


#overlay button>i:hover{
  transition: 0.4s;
  color: #f00;
  transform: rotate(90deg);
}

#overlay button{
  position: absolute;
  top: 2%;
  background: none;
  cursor: pointer;
  border: none;
  right: 5%;

}
#overlay img {
  max-width: 90%;
  max-height: 65%;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 50%;
  top: 50%;
  transform:translate(-50%,-50%)
}
#overlay>div>p{
  max-width: 85%;
}
#overlay>div{
  width: 100%;
  text-align: left;
  z-index: 1000;
  background-color: #695853;
  color: #FDF7F0;
  position: absolute;
  bottom: 0;
  padding-left: 10%;
}
/* Par défaut, le scroll est fluide et libre */

html, body {
  overflow-x: hidden; /* Empêche le scroll horizontal */
  width: 100%; /* Assure que le contenu respecte la largeur de l'écran */
}
#bg-forme, #header, .cookie {
  max-width: 100%;
  left: 0; /* Évite les débordements latéraux */
  right: 0; /* Évite les débordements */
}
#title-text {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%; /* Empêche le débordement */
}



section {
  /*scroll-snap-align: start; /* Chaque section s'alignera au début */
  height: 100vh; /* Chaque section fait 100% de la hauteur de la vue */
}
#burger{
  display: none;
  width: 55px;
  margin: 0 20px 0 0;
}
#bg-forme{
  position: fixed;
  z-index: -1;
  height: 100vh;
}

#cookie-container {
  position: fixed;
  top: -150px; /* Commence au-dessus de l'écran */
  left: 0;
  width: 100%;
  height: calc(100% + 150px); /* Ajoute plus d'espace en dessous */
  z-index: 999;
  pointer-events: none;
}

@keyframes fall {
  0% {
    top: -150px; /* Commence bien au-dessus de l'écran */
  }
  100% {
    top: 110vh; /* Va au-delà du bas de la fenêtre pour que les cookies disparaissent en dehors */
  }
}



.cookie {
  position: absolute;
  width: 75px;
  height: 75px;
  background-image: url('cookie.png');
  background-size: contain;
  background-repeat: no-repeat;
  animation: fall linear;
  z-index: 999;
  left: 0;
}


#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Pour s'assurer qu'il est toujours au-dessus */
}

header {
  left: 0;
  right: 0;
  height: 80px; 
}


header>nav{
  display: flex;
  justify-content: space-evenly;
  background-color: #695853;
  padding: 0 20px;
}
#left-nav{
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0;
  width: 60%;
}
#left-nav>button{
  font-weight: 500;
}
header>nav a, header>nav button{
  background: none;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
  color: #FDF7F0;
  font-size: 24px;
  text-decoration: none;
}


#mycv {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  right: 10px;
  bottom: 0;
  font-weight: 900;
  color: #263547;
}


#right-nav{
  position: relative;
  z-index: 10;
}
#right-nav>a>svg{
  height: 100%;
  transform: scale(110%);
}

/*home*/
#home {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  height: 100vh;
  position: relative; /* Nécessaire pour le positionnement absolu */
}

#arrow {
	position: absolute;
	bottom: 30px;
	right: 50%;
}

#typed{
  font-weight: lighter;
}

#title-text{
  display: flex;
  flex-direction: column;
  color: #263547;
  align-items: flex-end;
  margin-left: 15%;
}

#title-text-div{
  margin-top: -0.5rem;
}

#title-text>div>span{
  font-size: 118px;
  text-transform: capitalize;
}

#im{
  font-size: 55px;
  font-weight: lighter;
  margin-right: 1rem;
}

#bastien{
  font-size: 118px;
  font-weight: bold;
}
#cookieClicker img{
  max-width: 350px;
  cursor: pointer;
  animation: breathe 2s infinite ease-in-out;
}

#cookieClicker{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 75%;
  margin-right: 15%;
}

#cookie-text{
  font-size: 32px;
  color: #263547  ;
}

#cookie-plural, #cookie-count span b{
  font-size: 40px;
}

#cookie-count span{ 
  margin: 0 0.5rem;
  width: 100%;
  color: #263547;
}
@keyframes shake {
  0%, 100% { transform: translate(0, 0); }
  25% { transform: translate(var(--shake-distance), var(--shake-vertical)); }
  50% { transform: translate(calc(var(--shake-distance) * -1), calc(var(--shake-vertical) * -1)); }
  75% { transform: translate(var(--shake-distance), var(--shake-vertical)); }
}

.shake-resonate {
  animation: shake ease-in-out 0.5s 4; /* Répète l'animation 4 fois */
}

.compteCookie {
  color:#263547;
  font-weight: 600;
  font-size: 25px;
  position: absolute;
  top: 0;
  animation: fadeMove 1.5s forwards;
}
@keyframes shake-cookie {
  0% { transform: scale(1) rotate(0deg); }
  20% { transform: scale(1.2) rotate(-10deg); }
  40% { transform: scale(1.2) rotate(10deg); }
  60% { transform: scale(1.15) rotate(-7deg); }
  80% { transform: scale(1.1) rotate(7deg); }
  100% { transform: scale(1) rotate(0deg); }
}

@keyframes pop {
  0% { transform: scale(1); opacity: 0; }
  50% { transform: scale(1.5); opacity: 1; }
  100% { transform: scale(1); opacity: 0; }
}



#cookieClicker {
  position: relative;
  cursor: pointer;
}

#cookieClicker img {
  transition: transform 0.2s ease-out;
}

#cookieClicker img.active {
  animation: shake-cookie 0.7s ease-in-out;
}

.cookie-effect {
  top: 50%;
  position: absolute;
  font-size: 1.5rem;
  font-weight: bold;
  color: #263547;
  opacity: 0;
  pointer-events: none;
  animation: pop 0.6s ease-out forwards;
}

@keyframes breathe {
  0%, 100% {
    transform: scale(1); /* Taille normale */
  }
  50% {
    transform: scale(1.1); /* Taille agrandie */
  }
}



/*projects*/
#projects {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 15%;
  margin-right: 15%;
}

#projects .title {
  font-size: 118px;
  font-weight: bold;
  color: #263547;
}

.subtitles {
  font-size: 60px;
  color: #263547;
  font-weight: 400;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

#projects .card {
  text-decoration: none;
  background-size: 110%;
  position: relative;
  background-color: #F7DDBF;
  width: 300px;
  height: 250px;
  border-radius: 54px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  overflow: hidden;
}

.background{
  text-decoration: none;
  background-size: 145%;
  position: absolute;
  width: 300px;
  height: 250px;
  overflow: hidden;
  background-position: center;
}
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 54px;
  font-weight: bold;
  font-size: 40px;
  transition: transform 0.6s ease;
}

.card-front {
  color: #FDF7F0;
  z-index: 1;
}
.card-front span{
  background-color: #00000075;
  padding: 10px;
  border-radius: 10px;
  width: 120%;
  text-align: center;
}

.card-back {
  background-color: #F7DDBF;
  color: #263547;
  transform: translateX(100%); /* Cache la carte arrière hors de vue */
  z-index: 2;
}

.card-back span {
  font-size: 20px;
  padding: 0 10px;
  font-weight: 300;
}

/* Effet de glissement au survol */
.card:hover .card-back {
  transform: translateX(0); /* Fait glisser la carte arrière en vue */
}

.card:hover .card-front {
  transform: translateX(-100%); 
}

/*contact*/
#contact{
  height: 70vh;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#contact>div{
  display: flex;
  flex-direction: column;
  margin-left: 15%;
}

#contact>div>span{
  font-size: 118px;
  font-weight: bold;
  color: #263547;
}

#contact>div>button{
  border: none;
  background-color: #695853;
  border-radius: 54px;
  width: 20%;
  height: 70px;
  color:#FDF7F0;
  font-size: 20px;
  cursor: pointer;
}

#contact-form{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 40rem;
  background-color: #F7DDBF;
  z-index: 99;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 54px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;}

#contact-form form{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  margin: 2rem 0;
  height: 80%;
}
.fields{
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 80%;
}
#closeForm{
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.4);
  position: fixed;
  z-index: 0;
  top: 0;
  filter:blur(3px);
}

#names{
  display: flex;
  align-self: flex-start;
  width: 80%;
  align-self: center;
}

#names div{
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

#names input{
  text-transform: capitalize;
}

#firstName{
  padding-left: 0.8rem;
}

#lastName{
  padding-right: 0.8rem;
}

#contact-form #submit{
  align-self: center;
  border: none;
  background-color: #695853;
  border-radius: 54px;
  padding: 1rem 2rem;
  color:#FDF7F0;
  font-size: 20px;
  cursor: pointer;
  transition: box-shadow 0.4s;
}

#contact-form #submit:hover{
  transition: box-shadow 0.4s;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.fields input, .fields textarea, #names input{
  background:none;
  border-radius: 54px;
  border: solid 5px #695853;
}
.fields label, #names label{
  color: #263547;
  font-weight: bold;
  font-size: 20px;
}

.allFields input{
  height: 40px;
  padding-left: 10px;
  font-size: 18px;
}

.fields textarea{
  height: 100px;
  resize: none;
  padding:0 20px;
  padding-top: 8px;
  padding-bottom: 20px;
  caret-color: #263547;
  font-size: 18px;
  overflow: auto;
  scrollbar-width: none;
}

.fields textarea:focus, .allFields input:focus {
  outline: 2px solid #FDF7F0;
}



textarea::-webkit-scrollbar {
  display: none; /* Pour Chrome, Safari et Opera */
}


#close>i {
	background: none;
	border: none;
	font-size: 50px;
	transition: color 0.4s ease, transform 0.3s ease;
	cursor: pointer;
  color: #263547;
  position: absolute;
  top: 4%;
  right: 6%;
}

#close>i:hover {
	transition: 0.4s;
	color: #f00;
	transform: rotate(90deg);
}

#close{
	background: none;
	border: none;
	box-sizing: content-box;
	align-self: flex-end;
	padding: 0 6px 6px 6px;
	border: none;
}

/*js*/

.hidden{
  display: none;
}

.show{
  display: flex;
}

.blur{
  filter:blur(3px);
}


/*about me*/

#about .title{
  font-size: 118px;
  font-weight: bold;
  color: #263547;
}

#about {
	display: flex;
	margin-left: 15%;
  margin-right: 15%;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
}

#english, #french{
  font-size: 20px;
}

.english-flag, .french-flag{
  background: none;
  border: none;
  cursor: pointer;
}

#competences, #skills{
  font-size: 40px;
  font-weight: bold;
  color: #263547;
}

#about>div{
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}
#about>div>a{
  cursor: pointer;
  border-radius: 20px;
  margin-top: 4rem;
  margin-bottom: 2rem;
  border: none;
  background-color: #695853;
  padding: 1rem 4rem;
  text-align: center;
  max-width: 150px;
  max-height: 50px;
}
#about>div>a>button{
  cursor: pointer;
  border: none;
  background: none;
  color: #FDF7F0;
  font-weight: 900;
  font-size: 24px;
}
#about>div>div{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#overlay div{
  padding-bottom: 2rem;
}
.showFlag{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;}


@media screen and (max-width:768px) {
  #overlay>div{
    text-align: left;
    padding: 0 10px;
  }
  #overlay>div>p{
    max-width: 95%;
  }
  #overlay>a{
    font-size: 20px;
  }
  #about>div>a{
    margin-top: 1rem;
    align-self: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  }
  #about>div>a>button{
    font-size: 16px;
  }
  #projects{
    align-items: center;
    margin: 0;
  }

  #contact{
    height: 60vh;
  }

  #contact > div{
    margin: 0;
    align-items: center;
  }
  #contact > div > button{
    width: 50%;
    font-size: 14px;
    height: 50px;
  }
  #contact > div > span, #about .title{
    font-size: 75px;
  }

  #about{
    flex-direction: column-reverse;
    height: auto;
  }

  #about>div{
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  #about .title{
    text-align: center;
  }

  #english, #french{
    font-size: 14px;
  }
  #skillsIcons{
    align-self: center;
    max-width: 100%;
  }

  #about>svg{
    max-width: 100%;
    overflow: hidden;
  }

  .subtitles{
    font-size: 50px;
    text-align: center;
  }

  .cards-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 2.5rem;
  }

  header{
    height: auto;
    overflow: hidden;
    max-width: 100%;
    background-color: #695853;
  }

  #title-text{
    margin: 0;
    width: 100%;
    align-items: center;
    margin-bottom: 4rem;
  }

  #title-text > div > span{
    font-size: 75px;
  }

  #home{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    background-color: #FDF7F0;
  }

  #arrow{
    right: 43%;
    text-align: center;
  }
  .card{
    margin-top: 1.5rem;
  }
  #arrowSvg{
    width: 60%;
  }

  #cookie-plural, #cookie-count span b{
    font-size: 25px;
  }
  #header{
    height: 80px;
  }
  header > nav a, header > nav button{
    font-size: 1.2rem;
  }

  #formeCV{
    display: none;
  }
  #cookieClicker{
    margin-left: 15%;
    justify-content: flex-start;
    height: auto;
  }
  #cookieClicker img{
    max-width: 55%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  #bg-forme{
    max-width: 100vw;
  }
  section, #projects{
    height: auto;
    margin-top: 3rem;
  }
  #cookie-text{
    font-size: 20px;
  }

  #projects .title{
    font-size: 75px;
    margin-bottom: 1rem;
  }
  .deroulee{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: auto;
  }
  .hide{
    display: none !important;
  }


  #burgerDraw{
    cursor: pointer;
    display: block;
    background-color: #FDF7F0;
    height: 3px;
    width: 30px;
    border-radius: 10px;
  }

  #burgerDraw::after{
    cursor: pointer;
    content: '';
    display: block;
    background-color: #FDF7F0;
    height: 3px;
    width: 30px;
    position: absolute;
    bottom: 20%;
    border-radius: 10px;
  }

  #burgerDraw::before{
    cursor: pointer;
    content: '';
    display: block;
    background-color: #FDF7F0;
    height: 3px;
    width: 30px;
    position: absolute;
    top: 20%;
    border-radius: 10px;
  }

  header>nav{
    height: 100%;
    flex-direction: column-reverse;
    align-items: flex-end;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;  }

  #left-nav{
    margin-bottom: 2rem;
    margin-top: 0;
    width: 100%;
  }
  #left-nav a{
    margin: 5px 0;
    padding: 0 20px 0 0;
    width: 100%;
    text-align: end;
  }
  .menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex !important;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  #home{
    height: 90dvh;
  } 
  #contact-form{
    width: 95%;
  }
  #contact-form form{
    height: 90%;
  }

}
@media screen and (max-width:1300px) {
  #names{
    flex-direction: column;
    align-self: center;
  }
  #names>div{
    padding: 0;
  }
}
@media screen and (max-width:430px) {
  #overlay>a{
    font-size: 14px;
  }
  #contact > div > span, #about .title{
    font-size: 50px;
    align-self: flex-start;
  }
  #contact .title{
    margin-left: 15%;
  }
  #english, #french{
    font-size: 12px;
  }
  #title-text > div > span{
    font-size: 50px;
  }
  #cookie-text{
    font-size: 16px;
  }
  #projects .title{
    font-size: 50px;
  }
  #contact > div > button{
    align-self: flex-start;
    margin-left: 15%;
  }
  .cards{
    grid-template-columns: auto;
  }
  .card{
    width: 250px !important;
    height: 200px !important;
  }



  #contact-form label{
    font-size: 16px;
  }
  .fields input, .fields textarea, #names input{
    border-radius: 25px;
  }
  #lastName, #firstName{
    padding: 0;
  }
}

/* Activer le scroll segmenté uniquement sur desktop */


@media (max-width: 767px) {
  html, body {
    overflow: auto !important; /* Assure que le scroll est libre */
  }
}


.line {
  fill: none;
  stroke: #FDF7F0;
  stroke-width: 6;
  stroke-linecap: round; /* Arrondir les extrémités */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}


#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #263547; /* Set a background color */
  color: #FDF7F0; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 15px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}